<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{if ge .first 10}}
    <p>first passed</p>
    {{else}}
    <p>first not passed</p>
    {{end}}
    <hr />
    {{if eq .text "haha"}}
    <p>second passed</p>
    {{else if eq .text "hihi"}}
    <p>second still passed</p>
    {{else}}
    <p>second not passed</p>
    {{end}}
  </body>
</html>
